  body {
  background-color: lightblue;
  max-width: 667px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  }

  header {
  background-color: #f4aa42;
  width: 100%;
  line-height: 75px;
  height: 75px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-left: 0;
}

  footer {

  }

  ul {
    list-style: none;
  }

  a, a:link, a:active {
  text-decoration: none;
  color: #777;
  }
